.footer {
  background-color: $sec-color;
  font-weight: 700;
  color: $main-color;
  font-size: 20px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  @media (max-width:$sm) {
    font-size: 16;
  }
}
